
<footer>
    <nav class="F_Footer">
        <!--INFORMACIÓN-->
        <div class="F_Contenedor">
            <div class="F_Footer_Informacion">
                <p class="F_Texto_Informacion">SE PARTE DE NUESTRA COMUNIDAD</p>
            </div>

            <!--REDES SOCIALES-->
            <div class="F_Footer_Informacion">
                <form action="https://www.facebook.com/search/top?q=playstation"target="_blank">
                    <input class="F_Redes" type="image"
                        src="assets/logo_facebook.jpg"
                        alt="submit" width="30px" height="30px">
                </form>
                <form action="https://www.instagram.com/playstation/"target="_blank">
                    <input class="F_Redes" type="image"
                        src="assets/logo_instagram.jpg"
                        alt="submit" width="30px" height="30px">
                </form>
                <form action="https://www.whatsapp.com/?lang=es"target="_blank">
                    <input class="F_Redes" type="image"
                        src="assets/logo_wasap.jpg" alt="submit"
                        width="30px" height="30px">
                </form>
                <form action="https://twitter.com/?lang=es"target="_blank">
                    <input class="F_Redes" type="image"
                        src="assets/logo_tuiter.png" alt="submit"
                        width="30px" height="30px">
                </form>
            </div>

        </div>
    </nav>
</footer>
