@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

.H_Cabecera{
    font-family: 'Nova Mono', monospace;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, #0b0b83, #1cb5e0); 
    border-color: black;
    border-bottom-color:white;
    border-radius: 20px;
    border-style: solid;
    border-top-width: 5px;
    border-right-width: 3px;
    border-bottom-width: 5px;
    border-left-width: 3px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
}





/*-------------------FIN DE GENERAL*/

.H_Logo_Nombre_Busca{
    float: left;
    display: flex;
    margin-left: 10px;
    margin-bottom: -30px;
}

.Logo_ps {
    border-radius: 10px;
    height: 150px;
    width: 170px;
    margin-top: 10px;
} 

#H_Nombre_Empresa {
    font-family: 'Nova Mono', monospace;
    font-size: 70px;
    font-weight: bold;
    color: white;
    margin-left: 50px;
}

.H_Buscador {
    margin: 5px;
    margin-top: 10px;
    width: 250px;
    height: 30px;
    border-style: solid;
    text-align: center;
    border-radius: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 5px;
    cursor: pointer;
}


@media screen and (max-width:1493px) {
    body{
        background-color: crimson;
    }

    .H_Cabecera{
        width: 100%;
        box-sizing: content-box;

    }
    .H_Logo_Nombre{
        width: 100%;
    }

    #H_Nombre_Empresa{
        font-size: 50px;
    }




}




