<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <header>
        <nav class="H_Cabecera">
            <div class="H_Contenedor">

                <div class="H_Caja_Busca">
                    <input class="H_Buscador" type="text" placeholder="BUSCAR">

                    <div class="H_Logo_Nombre">
                        <img class="Logo_ps" src="assets/logo_ps.png">
                        <h1 id="H_Nombre_Empresa">PS4</h1>
                    </div>
                </div>

            </div>
        </nav>
    </header>


</body>

</html>